$color__background-header: #333;
$color__background-nav: #387fca;
$color__background-nav-highlight: #3169a5;
$color__background-body: #fff;
$color__background-body-alt: #dcdcdc;
$color__background-highlight: #ff962c;
$color__background-highlight-more: darken(#ededed, 10%);
$color__background-subcontent: #dcdcdc;
$color__background-footer: #94aec8;
$color__background-footer-nav: #395e84;
$color__background-light-black: #333333;

$color__text-main: #666;
$color__text-dark-header: #fff;
$color__text-light-header: #429fff;
$color__text-light-grey: #ededed;
$color__text-white: #fcfcfc;

$color__link: #387fca;
$color__link-hover: #3169a5;