// Rem and px outputs
@mixin font-size($value: 1) {
	font-size: ($value * 16) + px;
	font-size: $value + rem;
} 

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after
@mixin clearfix-after() {
	clear: both;
}
