nav#footer-nav {
	background-color: $color__background-footer-nav;
	height: 40px;

	ul  {
		@include font-size(0.9);
		float: left;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 50%;
		
		li {
			display: inline-block;
			line-height: 40px;
			margin: 0px;
			padding: 0px;			

			a:link, a:visited {
				color: $color__text-light-grey;
				display: block;
				padding: 0px 30px;
				text-decoration: none;

			}

			a:hover {
				background-color: $color__background-nav-highlight;
				color: $color__text-white;
			}

		}

		li.current_page_item a {
			background-color: $color__background-nav-highlight;
			color: $color__text-white;
		}

		li.menu-item-quote a {
			@include background-image(linear-gradient($color__background-highlight, #fd7a37));
			
			background-color: $color__background-highlight;
			color: $color__text-white;
			font-style: italic;
			font-weight: 400;
			line-height: 60px;

		}
	}

	span { 
		@include font-size(0.9);
		color: $color__text-white;
		float: right;
		line-height: 40px;	
		text-align: right;
		width: 40%;
	}
}